@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.offer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 186, 89, .15);
  border-radius: 1000px;
  -webkit-animation: growShrink 5s ease-in-out .2s infinite both;
  animation: growShrink 5s ease-in-out .2s infinite both;
}

.offer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 186, 89, .1);
  border-radius: 1000px;
  -webkit-animation: growShrink2 5s ease-in-out .2s infinite both;
  animation: growShrink2 5s ease-in-out .2s infinite both;
}

@keyframes growShrink {
  0% {
    transform: scale(0);
    opacity: .8;
  }

  30% {
    transform: scale(1);
    opacity: .5;
  }

  90% {
    transform: scale(1);
    opacity: .5;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes growShrink2 {
  0% {
    transform: scale(0);
    opacity: .8;
  }

  30% {
    transform: scale(1.2);
    opacity: .5;
  }

  90% {
    transform: scale(1.2);
    opacity: .5;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 186, 89, .3);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.banner:hover::before {
  visibility: visible;
  opacity: 1;
  -webkit-animation: bannerAnim 1s linear 0s 1 both;
  animation: bannerAnim 1s linear 0s 1 both;
}

@keyframes bannerAnim {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}
